<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<AlienRace.RaceSettings>
		<defName>AURA_Raen</defName>
		<pawnKindSettings>
			<startingColonists>
				<li>
					<pawnKindEntries>
						<li>
							<kindDefs>
								<li>AURA_Raen_Colonist</li>
							</kindDefs>
							<chance>12</chance>
						</li>
					</pawnKindEntries>
					<factionDefs>
						<li>PlayerColony</li>
					</factionDefs>
				</li>
			</startingColonists>
			<alienrefugeekinds>
				<li>
					<kindDefs>
						<li>AURA_RaenSpaceRefugee</li>
					</kindDefs>
					<chance>2</chance>
				</li>
				<li>
					<kindDefs>
						<li>AURA_RaenSpaceRefugee_Clothed</li>
					</kindDefs>
					<chance>2</chance>
				</li>
			</alienrefugeekinds>
			<alienwandererkinds>
				<li>
					<pawnKindEntries>
						<li>
							<kindDefs>
								<li>AURA_RaenVillager</li>
							</kindDefs>
							<chance>3</chance>
						</li>
					</pawnKindEntries>
					<factionDefs>
						<li>PlayerColony</li>
					</factionDefs>
				</li>
			</alienwandererkinds>
		</pawnKindSettings>
	</AlienRace.RaceSettings>
	
	<AlienRace.RaceSettings>
		<defName>AURA_Xaela</defName>
		<pawnKindSettings>
			<startingColonists>
				<li>
					<pawnKindEntries>
						<li>
							<kindDefs>
								<li>AURA_Xaela_Colonist</li>
							</kindDefs>
							<chance>12</chance>
						</li>
					</pawnKindEntries>
					<factionDefs>
						<li>PlayerColony</li>
					</factionDefs>
				</li>
			</startingColonists>
			<alienrefugeekinds>
				<li>
					<kindDefs>
						<li>AURA_XaelaSpaceRefugee</li>
					</kindDefs>
					<chance>2</chance>
				</li>
				<li>
					<kindDefs>
						<li>AURA_XaelaSpaceRefugee_Clothed</li>
					</kindDefs>
					<chance>2</chance>
				</li>
			</alienrefugeekinds>
			<alienwandererkinds>
				<li>
					<pawnKindEntries>
						<li>
							<kindDefs>
								<li>AURA_XaelaVillager</li>
							</kindDefs>
							<chance>3</chance>
						</li>
					</pawnKindEntries>
					<factionDefs>
						<li>PlayerColony</li>
					</factionDefs>
				</li>
			</alienwandererkinds>
		</pawnKindSettings>
	</AlienRace.RaceSettings>

</Defs>